<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elevinskii\MediaStorage\Model\Gallery\ImageInterface"
                type="Elevinskii\MediaStorage\Model\Gallery\Image"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="removeMediaDuplicates" xsi:type="object">
                    Elevinskii\MediaStorage\Console\Command\RemoveMediaDuplicates
                </item>
            </argument>
        </arguments>
    </type>
</config>
